$gray-text-color: #757575;
$black-text-color: #212121;
$white-text-color: #ffffff;
$hover-text-color: #2196f3;
$black-footer-background-color: #2f303a;
$our-team-background-color: #f5f4fa;
$our-team-icons-colos: #afb1b8;
$border-color: #eeeeee;
$footer-icon-background: rgba(255, 255, 255, 0.1);
$transition-v1: 250ms cubic-bezier(0.4, 0, 0.2, 1);